.bordered-label{
    -fx-border-color: BLACK;
}

#openFileButton {
    //-fx-background-color: #468d2e;
    -fx-background-color: linear-gradient(to bottom, #6B8E23, #4F7522);
    -fx-background-radius: 5;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0, 0, 1);

}
#openFileButton:hover {
    //-fx-background-color: #53a835;
    -fx-background-color: linear-gradient(to bottom, #4F7522, #6B8E23);

}

#tabPanelStyle{
    -fx-background-color: #e0e0e0;
}
.tabStyles{
    -fx-background-color: linear-gradient(to bottom, #c0c0c0, #a0a0a0);
    -fx-background-radius: 5 5 0 0;
    -fx-border-color: #808080;
    -fx-border-width: 1 1 0 1;
    -fx-border-radius: 5 5 0 0;
    -fx-text-fill: black;
}

.tab-pane .tab-header-area .tab:selected {
    -fx-background-color: #0073e6; /* Blue color for selected tab */
    -fx-border-color: #005bb5; /* Darker blue for tab border */
    -fx-border-insets: 0 0 -1 0; /* Remove the bottom border to overlap content area */
    -fx-border-width: 0 0 3 0; /* Bottom border width */
    -fx-background-radius: 5;
    -fx-font-weight: bold;
}

/* Customize the background color for the tabs */
.tab-pane .tab-header-area .tab {
    -fx-background-color: #005bb5; /* Darker blue for unselected tabs */
}

/* Customize the text color for the tabs */
.tab-pane .tab-header-area .tab .tab-label {
    -fx-text-fill: white; /* White text color for tabs */
    -fx-font-weight: bold;
}
/* Hover effect for tabs */
.tab-pane .tab-header-area .tab:hover {
    -fx-background-color: #0094ff; /* Lighter blue on hover */
    -fx-border-color: #0073e6; /* Blue border on hover */
}

/*title Prediction*/
.title-prediction{
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.title-thread-pool{
    -fx-text-fill: #4F7522;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-underline: true;
}
.subject-thred-pool{
    -fx-font-weight: bold;
}